.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-panel {
    width: 90%;
    margin-left: 5%;
}

.main-panel .panel-heading span{
    font-weight: bolder;
    font-size: 32px;
    margin-left: -90%;
  }

.main-panel .panel-body {
}

.main-panel .panel-body button{
  float: left;
}
.main-panel .panel-body span.input-group{
  /* padding-left: 0px; */
  padding-bottom: 10px;
  width: 300px;
}